<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><img class="product-img" src="<%= product.image_url %>" alt="product_img"></td>
        <td scope="row"><%= product.name %></td>
        <td><%= product.description %></td>
        <td>
          <%= link_to product do %>
            <i class="fas fa-eye"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_product_path(product) do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
        </td>
        <td>
          <%= link_to product, :method => :delete do %>
             <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_product_path do %>
  <button id="add-product-btn">+</button>
<% end %>
